{# new twig template file - hibbittsdesign.org #}
{% if page.header.gitrepoeditlinkurl %}
  {% set gitrepoeditlinkurl = page.header.gitrepoeditlinkurl %}
{% else %}
  {% set gitrepoeditlinkurl = config.site.gitrepo.edittreeurl ~  ('/'~page.filePathClean)|replace({'/user/':'/'}) %}
{% endif %}
<a class="newwindow" href="{{ gitrepoeditlinkurl }}" title="{{ config.site.gitrepo.editlinktext }}">
  {% if config.site.gitrepo.editlinkicon %}
    <i class="fa fa-{{ config.site.gitrepo.editlinkicon }}" aria-hidden="true"></i>
  {% endif %}
  {{ config.site.gitrepo.editlinktext }}</a>
